* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: 0;
}

body,
html {
    height: 100%;
}

.head {
    background-color: #1f2e51;
    color: #efddb6;
    padding: 15px 10%;
}

.main {
    background-color: #3a6c89;
    color: #f0f0f0;
    padding: 30px 20%;
    height: 100%;
}

.main button {
    margin-top: 10%;
    height: 80px;
    width: 200px;
    background-color: #88a59e;
    font-size: large;
}

.main button:hover {
    background-color: #5e716c;
}

.main table {
    padding-top: 30px;
}

.main table input {
    width: 300px;
    height: 30px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #e2ab74;
    padding: 30px 0;
}

.footer a {
    color: #19191f;
}

.footer a:hover {
    color: #f0f0f0;
}

.footer a::after {
    color: #3a6c89;
}

.login-container {
    width: 400px;
    padding: 20px;
    background-color: #3a6c89;
}

.login-container h2 {
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 3px;
    background-color: #1f2e51;
    color: #f0f0f0;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="checkbox"] {
    margin-bottom: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #88a59e;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #5e716c;
}

.login-container label {
    color: #f0f0f0;
}

.login-container h2 {
    color: #efddb6;
}