* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: rgb(226, 226, 226);
}

nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  /* width: 280px; */
  background: #3a6c89;
  overflow: hidden;
  transition: 1s;
  color: #f0f0f0;
}

nav:hover {
  width: 280px;
  transition: 1s;
}

.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 3rem;
}

.logo img {
  width: 45px;
  height: 45px;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

nav a {
  position: relative;
  width: 280px;
  font-size: 14px;
  color: #f0f0f0;
  display: table;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 10px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 8px;
  margin-left: 10px;
}

nav a:hover {
  background-color: #1f2e51;
  transition: 0.5ms;
}

.logout {
  position: absolute;
  bottom: 0;
}

.container {
  display: flex;
}

/* MAin Section */
.main {
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: #1f2e51;
  color: #f0f0f0;
}

.main-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.main .users {
  display: flex;
  width: 100%;
}

.users .card {
  width: 25%;
  margin: 10px;
  background: #3a6c89;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.users .card img {
  width: 70px;
  height: 70px;
}

.users .card h4 {
  text-transform: uppercase;
}

.users .card p {
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.users table {
  margin: auto;
}

.users .per span {
  padding: 5px;
  border-radius: 10px;
  background: #1f2e51;
}

.users td {
  font-size: 14px;
  padding-right: 15px;
}

.users .card button {
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
}

.users .card button:hover {
  background: #19191f;
  color: #fff;
  transition: 0.5s;
}

/*Attendance List serction  */
.attendance {
  margin-top: 20px;
  text-transform: capitalize;
}

.attendance-list {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #3a6c89;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  background: #1f2e51;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}


.table button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #f0f0f0;
  color: #f0f0f0;
}

.table button:hover {
  background: #1f2e51;
  color: #fff;
  transition: 0.5rem;
}

.footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.center {
  text-align: center;
}

.info hr {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}


.info {
  padding: 30px;
}

.info .td {
  width: 700px;
  font-size: 17px;
  padding: 5px;
}

.info h1 {
  font-size: 30px;
  padding-top: 12px;
}

.longtd {
  width: 3000px;
}

.info img {
  width: 400px;
}

.crudbutton {
  background-color: #3a6c89;
  height: 40px;
  width: 300px;
}

.formcrud tr .normtd {
  font-size: 22px;
  width: 150px;
}

.formcrud input[type="text"] {
  font-size: 22px;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.formcrud textarea {
  font-size: 22px;
  height: 80px;
  width: 300px;
}

.formcrud input[type="submit"] {
  margin-top: 10px;
  font-size: 22px;
  height: 30px;
  width: 100%;
}

.formcrud select {
  font-size: 22px;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}